h1 {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 36px;
  color: #333;
}

body {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}
form {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 20px 100px;
  max-width: 1200px;
}

/* Flex containers for layout */
.flex-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.icon-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
}

/* Message container */
.message-container {
  margin: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: #fff; /* Adjust as needed */
}

/* Message content */
.message-content {
  display: flex;
  align-items: center;
}

/* Button emoji */
.button-emoji {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  font-size: 24px;
  color: #333;
  transition: color 0.2s ease-in-out;
}

.button-emoji:hover {
  color: transparent;
  text-shadow: 0 0 0 #ff4500; /* Change color on hover */
}

/* Input box */
input {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  font-size: 16px;
  outline: none;
  margin-left: 1em;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #ff6600; /* Highlight border on focus */
}

.post-button,
.button {
  background-color: #ff6600;
  margin-left: 1em;
  border: none;
  border-radius: 20px;
  width: 145px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover,
.button:focus,
.post-button:hover,
.post-button:focus {
  background-color: #ff4500;
  color: #fff;
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.reply-container {
  width: 60%;
  border-radius: 8px;
}

.reply-form {
  display: flex;
  margin-bottom: 10px;
}

.reply-background {
  display: flex;
  flex-direction: column;
  background: #ff8844;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.reply-background p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
